:root{
    --primarycolor:darkgreen;
    --secondarycolor:#64DE57;
    --gradinetcolor: linear-gradient(to right,#64DE57,darkgreen);
    --whitecolor:white;
    --blackcolor:black;
    --textcolor:gray;
    --whitecolordeam:white;
    --graytext:rgb(190,190,190);
    --inputcolor:lightgray;
    --bodycolor:gray;
    --cardBG:rgb(240, 246, 244);

}
.header{
    position:flex;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whitecolordeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2,15,29,0.9);
    .logo{
        color:var(--blackcolor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--primarycolor);
            transform: translateY(5px);
        }
    }

    @media screen and (max-width: 768px){
        .navBar{
            position: absolute;
            background: var(--whitecolordeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2,15,29,0.9);
            transition: .5s ease-in-out;


        .navlists{
            flex-direction: column;
            justify-content: center ;
            width: 100%;
            margin: auto;
            padding: .5rem 0;

            .navItem{
                padding: .5rem 0;

                navLink{
                    color: var(--textcolor);
                    font-size: .9rem;
                    font-weight: 600;
                    &:hover{
                        color:var(--primarycolor)
                    }
                }
            }.btn{
            margin-top: 1rem;

            a{
                font-weight: 100;
                color:var(--whitecolor);
            }
        }
        }
        

        .closeNavbar{
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            color: var(--primarycolor);
            &:hover{
                color: var(--secondarycolor);
            }
        }
        }

        .activeNavbar{
            top:7rem;
        }

    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color:var(--primarycolor);
        }
        &:hover.icon{
            color: var(--secondarycolor);
        }
    }
}